* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0f0f0f;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 110rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

main {
  margin-top: 4rem;
}

.content {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.outer-div {
  position: absolute;
  inset: 0;
  top: -10rem;
  z-index: -10;
  transform: translateZ(0);
  overflow: hidden;
  filter: blur(5rem);
}

.inner-div {
  position: relative;
  left: 50%;
  top: 10rem;
  z-index: -10;
  width: 36.125rem;
  max-width: none;
  transform: translateX(-50%) rotate(30deg);
  background-image: linear-gradient(to top right, #ff80b5, #9089fc);
  opacity: 0.3;
  aspect-ratio: 1155 / 678;
  clip-path: polygon(
    74.1% 44.1%,
    100% 61.6%,
    97.5% 26.9%,
    85.5% 0.1%,
    80.7% 2%,
    72.5% 32.5%,
    60.2% 62.4%,
    52.4% 68.1%,
    47.5% 58.3%,
    45.2% 34.5%,
    27.5% 76.7%,
    0.1% 64.9%,
    17.9% 100%,
    27.6% 76.8%,
    76.1% 97.7%,
    74.1% 44.1%
  );
}

.form {
  width: 58rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.input-box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 6rem;
}

.form-select {
  appearance: none;
  display: block;
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 5px;
  line-height: 1.5rem;
  outline: none;
  color: #1f2937;
  background-color: white;
  box-shadow: 0 0 0 1.2px #d1d5db;
  &:focus {
    box-shadow: 0 0 0 2px #4f46e5;
  }
}

.form-select option {
  padding: 0.8rem 1.4rem;
}

.terms {
  width: 100%;
  display: flex;
  position: relative;
}

.terms span {
  display: inline-block;
  word-wrap: break-word;
  margin-left: 1rem;
}
.terms button {
  display: inline-block;
  color: #2c15ff;
  word-wrap: break-word;
  background: none;
  margin-left: 4px;
  font-size: inherit;
  cursor: pointer;
  &:hover {
    color: rgb(11, 8, 182);
  }
}

.submit-btn {
  width: 100%;
  margin-top: 3rem;
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 5px;
  background: #4f46e5;
  color: white;
  cursor: pointer;

  &:hover {
    background: #362de2;
  }
}

.submit-btn:disabled {
  background: rgb(201, 201, 201);
}

.error-message {
  margin-top: 3px;
  font-size: 1.4rem;
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
}

@media (min-width: 640px) {
  .outer-div {
    top: -20rem;
  }
  .inner-div {
    left: calc(50% - 40rem);
    width: 72.1875rem;
  }
}
@media (max-width: 640px) {
  .form {
    width: 100%;
  }
}
