.details {
  flex: 1;
  width: 100%;
  min-width: max-content;
  background: var(--details-bg-clr);
  overflow: hidden;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 2rem;
  background: var(--details-header-clr);
}

.header h3 {
  color: var(--text-primary-clr);
}

.header .btn {
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 5px;
  color: var(--text-clr);
  background: var(--details-bg-clr);
}

.content {
  padding: 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  color: var(--text-primary-clr);
}
.content li h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

.content li p {
  color: var(--text-clr);
  margin-right: 1rem;
}
