.cards {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  position: relative;
}



.error-btn {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: #af4848;
}



@media screen and (max-width: 62em) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 35em) {
  .cards {
    grid-template-columns: 1fr;
  }
}
