.main[data-theme='light'] {
  --bg-clr: #dbecff;
  --bg-header-clr: #288ea0;
  --bg-body-clr: #34cee9;
  --text-primary-clr: #ffffff;
  --text-clr: #362d81;
  --disabled-bg-clr: #95caf3;
  --disabled-txt-clr: #dfdfdf;
  --btn-hover-clr: #356fa7;
  --details-bg-clr: #1eb5cf;
  --details-header-clr: #0f7183;
}

.main[data-theme='dark'] {
  --bg-clr: #272b30;
  --bg-header-clr: #1c1e22;
  --bg-body-clr: #3b3e44;
  --text-primary-clr: #ffe300;
  --text-clr: #f7f8f8;
  --disabled-bg-clr: #2d3136;
  --disabled-txt-clr: gray;
  --btn-hover-clr: #202327;
  --details-bg-clr: #6c6f79;
  --details-header-clr: #45484d;
}

.main {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 5rem;
  position: relative;
  min-height: 70rem;
  background-color: var(--bg-clr);
}
