.form {
  width: 40%;
  display: flex;
}
.input {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: var(--input-clr);
}

.btn {
  padding: 1rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--bg-body-clr);
  color: var(--text-clr);
  transition: all 0.2s;
  &:hover {
    background: var(--btn-hover-clr);
  }
}

@media screen and (max-width: 62em) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 35em) {
  .form {
    width: 100%;
  }
}
