* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition:
    background 0.3s,
    color 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    'Roboto',
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1c1e22;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 110rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
