* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    'Roboto',
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  min-height: 100vh;
  font-weight: 400;
  background: #272b30;
  overflow-y: scroll;
}

.container {
  max-width: 110rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
